@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Croissant+One&family=Josefin+Sans&family=Kalnia&display=swap');
*{
  margin: 0px;
  padding: 0px;
font-family:Kalnia;

}